{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/public_html/templates/muhamik",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "about-us.html",
          "mtimeMs": 1692267890220.641,
          "date": "2023-08-17T10:24:58.133Z"
        },
        {
          "file": "blog-details.html",
          "mtimeMs": 1692270054057.677,
          "date": "2023-08-17T11:00:58.723Z"
        },
        {
          "file": "blog-standard.html",
          "mtimeMs": 1692269072318.6538,
          "date": "2023-08-17T10:44:34.800Z"
        },
        {
          "file": "contact.html",
          "mtimeMs": 1692267890074.0942,
          "date": "2023-08-17T10:24:52.269Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1692268370494.0798,
          "date": "2023-08-17T10:32:52.789Z"
        },
        {
          "file": "assets/css/animate.css",
          "mtimeMs": 1624366468000,
          "date": "2023-08-17T10:06:50.354Z"
        },
        {
          "file": "assets/css/bootstrap-rtl.min.css",
          "mtimeMs": 1658760188000,
          "date": "2023-08-17T10:06:53.096Z"
        },
        {
          "file": "assets/css/bootstrap.min.css",
          "mtimeMs": 1611069474000,
          "date": "2023-08-17T10:06:55.889Z"
        },
        {
          "file": "assets/css/default.css",
          "mtimeMs": 1628923910000,
          "date": "2023-08-17T10:06:59.029Z"
        },
        {
          "file": "assets/css/demo.css",
          "mtimeMs": 1630565902000,
          "date": "2023-08-17T10:07:01.436Z"
        },
        {
          "file": "assets/css/jquery-ui.min.css",
          "mtimeMs": 1473852846000,
          "date": "2023-08-17T10:07:03.916Z"
        },
        {
          "file": "assets/css/magnific-popup.css",
          "mtimeMs": 1692267261755.4155,
          "date": "2023-08-17T10:22:01.719Z"
        },
        {
          "file": "assets/css/nice-select.css",
          "mtimeMs": 1692083916045.702,
          "date": "2023-08-17T10:07:08.201Z"
        },
        {
          "file": "assets/css/slick.css",
          "mtimeMs": 1628926862000,
          "date": "2023-08-17T10:07:11.127Z"
        },
        {
          "file": "assets/css/style.css",
          "mtimeMs": 1692267556030.6846,
          "date": "2023-08-17T10:22:05.683Z"
        },
        {
          "file": "assets/fonts/SOMARSANS-BOLD.TTF",
          "mtimeMs": 1674820654497.9775,
          "date": "2023-08-17T10:07:16.870Z"
        },
        {
          "file": "assets/fonts/SOMARSANS-REGULAR.TTF",
          "mtimeMs": 1674820639225.4673,
          "date": "2023-08-17T10:07:20.782Z"
        },
        {
          "file": "assets/fonts/flaticon/backup.txt",
          "mtimeMs": 1631765272000,
          "date": "2023-08-17T10:07:23.349Z"
        },
        {
          "file": "assets/fonts/flaticon/flaticon.css",
          "mtimeMs": 1631765272000,
          "date": "2023-08-17T10:07:25.693Z"
        },
        {
          "file": "assets/fonts/flaticon/flaticon.eot",
          "mtimeMs": 1631765272000,
          "date": "2023-08-17T10:07:28.243Z"
        },
        {
          "file": "assets/fonts/flaticon/flaticon.html",
          "mtimeMs": 1631765272000,
          "date": "2023-08-17T10:07:30.910Z"
        },
        {
          "file": "assets/fonts/flaticon/flaticon.ttf",
          "mtimeMs": 1631765272000,
          "date": "2023-08-17T10:07:33.453Z"
        },
        {
          "file": "assets/fonts/flaticon/flaticon.woff",
          "mtimeMs": 1631765272000,
          "date": "2023-08-17T10:07:35.833Z"
        },
        {
          "file": "assets/fonts/flaticon/flaticon.woff2",
          "mtimeMs": 1631765272000,
          "date": "2023-08-17T10:07:38.173Z"
        },
        {
          "file": "assets/fonts/fontawesome/css/all.min.css",
          "mtimeMs": 1553012438000,
          "date": "2023-08-17T10:07:41.296Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-brands-400.eot",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:07:44.470Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-brands-400.ttf",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:07:47.585Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-brands-400.woff",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:07:50.755Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-brands-400.woff2",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:07:54.083Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-light-300.eot",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:07:57.494Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-light-300.ttf",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:00.917Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-light-300.woff",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:04.400Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-light-300.woff2",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:07.644Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-regular-400.eot",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:11.174Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-regular-400.ttf",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:14.709Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-regular-400.woff",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:17.867Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-regular-400.woff2",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:21.038Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-solid-900.eot",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:24.727Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-solid-900.ttf",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:28.346Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-solid-900.woff",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:31.549Z"
        },
        {
          "file": "assets/fonts/fontawesome/webfonts/fa-solid-900.woff2",
          "mtimeMs": 1553012440000,
          "date": "2023-08-17T10:08:34.745Z"
        },
        {
          "file": "assets/images/favicon.ico",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:08:37.095Z"
        },
        {
          "file": "assets/images/loader.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:08:39.416Z"
        },
        {
          "file": "assets/images/about/about-4.jpg",
          "mtimeMs": 1692082432700.1975,
          "date": "2023-08-17T10:08:42.928Z"
        },
        {
          "file": "assets/images/about/saudi-arabian-man-standing-holding-both-arms-together-serious-front-angle.jpg",
          "mtimeMs": 1692100998795.5251,
          "date": "2023-08-17T10:08:46.443Z"
        },
        {
          "file": "assets/images/bg/breadcrumbs-bg.jpg",
          "mtimeMs": 1692099498955.089,
          "date": "2023-08-17T10:08:49.784Z"
        },
        {
          "file": "assets/images/bg/cta-bg-1.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:08:52.563Z"
        },
        {
          "file": "assets/images/bg/footer-bg-1.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:08:55.700Z"
        },
        {
          "file": "assets/images/bg/team-bg-1.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:08:58.857Z"
        },
        {
          "file": "assets/images/blog/blog-4.jpg",
          "mtimeMs": 1692086021052.2356,
          "date": "2023-08-17T10:09:01.796Z"
        },
        {
          "file": "assets/images/blog/blog-5.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:04.448Z"
        },
        {
          "file": "assets/images/blog/blog-6.jpg",
          "mtimeMs": 1692086016480.0579,
          "date": "2023-08-17T10:09:08.091Z"
        },
        {
          "file": "assets/images/blog/blog-standard-1.jpg",
          "mtimeMs": 1692107365000,
          "date": "2023-08-17T10:09:11.000Z"
        },
        {
          "file": "assets/images/blog/blog-standard-2.jpg",
          "mtimeMs": 1692112014770.6519,
          "date": "2023-08-17T10:09:14.524Z"
        },
        {
          "file": "assets/images/blog/blog-standard-3.jpg",
          "mtimeMs": 1692107366000,
          "date": "2023-08-17T10:09:17.116Z"
        },
        {
          "file": "assets/images/blog/user-3.jpg",
          "mtimeMs": 1692107366000,
          "date": "2023-08-17T10:09:19.445Z"
        },
        {
          "file": "assets/images/case/case-5.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:23.310Z"
        },
        {
          "file": "assets/images/case/case-6.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:26.034Z"
        },
        {
          "file": "assets/images/case/case-7.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:29.194Z"
        },
        {
          "file": "assets/images/case/case-8.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:31.846Z"
        },
        {
          "file": "assets/images/case/case-9.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:34.346Z"
        },
        {
          "file": "assets/images/contact/info-1.jpg",
          "mtimeMs": 1692113909588.127,
          "date": "2023-08-17T10:09:38.374Z"
        },
        {
          "file": "assets/images/contact/info-2.jpg",
          "mtimeMs": 1692113954529.8564,
          "date": "2023-08-17T10:09:42.209Z"
        },
        {
          "file": "assets/images/contact/info-3.jpg",
          "mtimeMs": 1692113879666.7913,
          "date": "2023-08-17T10:09:46.737Z"
        },
        {
          "file": "assets/images/features/features-1.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:49.393Z"
        },
        {
          "file": "assets/images/features/features-2.jpg",
          "mtimeMs": 1692082230359.7163,
          "date": "2023-08-17T10:09:55.097Z"
        },
        {
          "file": "assets/images/hero/hero-two-bg-1.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:09:58.964Z"
        },
        {
          "file": "assets/images/hero/hero-two-img-1.png",
          "mtimeMs": 1692081115903.6228,
          "date": "2023-08-17T10:10:02.620Z"
        },
        {
          "file": "assets/images/logo/logo-1.png",
          "mtimeMs": 1692263805288.2712,
          "date": "2023-08-17T10:10:05.222Z"
        },
        {
          "file": "assets/images/logo/logo-2.png",
          "mtimeMs": 1692263808471.9707,
          "date": "2023-08-17T10:10:07.922Z"
        },
        {
          "file": "assets/images/service/map-1.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:11.314Z"
        },
        {
          "file": "assets/images/sponsors/1.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:13.826Z"
        },
        {
          "file": "assets/images/sponsors/2.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:16.358Z"
        },
        {
          "file": "assets/images/sponsors/3.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:18.794Z"
        },
        {
          "file": "assets/images/sponsors/4.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:21.438Z"
        },
        {
          "file": "assets/images/sponsors/5.png",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:23.829Z"
        },
        {
          "file": "assets/images/team/team-1.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:26.507Z"
        },
        {
          "file": "assets/images/team/team-2.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:29.154Z"
        },
        {
          "file": "assets/images/team/team-3.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:10:31.647Z"
        },
        {
          "file": "assets/images/team/team-4.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:11:01.159Z"
        },
        {
          "file": "assets/images/testimonial/thumb-2 (1).jpg",
          "mtimeMs": 1692193701886.6064,
          "date": "2023-08-17T10:11:07.340Z"
        },
        {
          "file": "assets/images/testimonial/thumb-2.jpg",
          "mtimeMs": 1692085457983.2068,
          "date": "2023-08-17T10:11:10.453Z"
        },
        {
          "file": "assets/images/widget/banner-1.jpg",
          "mtimeMs": 1692107366000,
          "date": "2023-08-17T10:11:13.106Z"
        },
        {
          "file": "assets/images/widget/thumb-1.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:11:16.242Z"
        },
        {
          "file": "assets/images/widget/thumb-2.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:11:18.818Z"
        },
        {
          "file": "assets/images/widget/thumb-3.jpg",
          "mtimeMs": 1692077080000,
          "date": "2023-08-17T10:11:21.483Z"
        },
        {
          "file": "assets/images/widget/thumb-4.jpg",
          "mtimeMs": 1692107366000,
          "date": "2023-08-17T10:11:25.180Z"
        },
        {
          "file": "assets/images/widget/thumb-5.jpg",
          "mtimeMs": 1692107366000,
          "date": "2023-08-17T10:11:28.172Z"
        },
        {
          "file": "assets/images/widget/thumb-6.jpg",
          "mtimeMs": 1692107366000,
          "date": "2023-08-17T10:11:33.698Z"
        },
        {
          "file": "assets/js/wow.min.js",
          "mtimeMs": 1475580554000,
          "date": "2023-08-17T10:11:35.992Z"
        },
        {
          "file": "assets/js/popper.min.js",
          "mtimeMs": 1627790180000,
          "date": "2023-08-17T10:11:38.780Z"
        },
        {
          "file": "assets/js/jquery.nice-select.min.js",
          "mtimeMs": 1462768346000,
          "date": "2023-08-17T10:11:41.137Z"
        },
        {
          "file": "assets/js/jquery.magnific-popup.min.js",
          "mtimeMs": 1496650308000,
          "date": "2023-08-17T10:11:43.626Z"
        },
        {
          "file": "assets/js/jquery.waypoints.js",
          "mtimeMs": 1616609062000,
          "date": "2023-08-17T10:11:46.248Z"
        },
        {
          "file": "assets/js/main.js",
          "mtimeMs": 1692084891851.286,
          "date": "2023-08-17T10:11:48.609Z"
        },
        {
          "file": "assets/js/slick.min.js",
          "mtimeMs": 1507052970000,
          "date": "2023-08-17T10:11:51.395Z"
        },
        {
          "file": "assets/js/jquery.counterup.min.js",
          "mtimeMs": 1616609062000,
          "date": "2023-08-17T10:11:53.757Z"
        },
        {
          "file": "assets/js/jquery-ui.min.js",
          "mtimeMs": 1473852846000,
          "date": "2023-08-17T10:11:56.936Z"
        },
        {
          "file": "assets/js/isotope.pkgd.min.js",
          "mtimeMs": 1627789876000,
          "date": "2023-08-17T10:11:59.503Z"
        },
        {
          "file": "assets/js/imagesloaded.pkgd.min.js",
          "mtimeMs": 1514912016000,
          "date": "2023-08-17T10:12:01.846Z"
        },
        {
          "file": "assets/js/bootstrap.min.js",
          "mtimeMs": 1611069474000,
          "date": "2023-08-17T10:12:04.478Z"
        },
        {
          "file": "assets/js/vendor/jquery-3.6.0.min.js",
          "mtimeMs": 1627789850000,
          "date": "2023-08-17T10:12:07.920Z"
        },
        {
          "file": "assets/images/logo/icon.png",
          "mtimeMs": 1692267780295.6711,
          "date": "2023-08-17T10:23:02.977Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/images/logo/icon.png",
        "config": {
          "optimized": true,
          "originalSize": 17872
        }
      }
    ]
  }
}
